.heading {
  /* border: 2px solid; */
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.resultsContainer {
  /* border: 2px solid; */
  margin-top: 30px;
  margin: 30px auto;
  font-size: 52px;
  font-weight: 500;
}

.data {
  /* border: 2px solid red; */
  margin: auto;
  max-width: 550px;
}

.dataPoint {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.personalData,
.foodData,
.activityData {
  /* border: 2px solid blue; */
  margin: 40px 0px;
}

.value {
  /* border: 2px solid blue; */
  width: 10%;
}
.label {
  /* border: 2px solid blue; */
  width: 80%;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .resultsContainer {
    max-width: 450px;
  }
}
