.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.formContainer {
  /* border: 2px solid; */
  margin-top: 30px;
  margin: 30px auto;
}

.personalDetailsContainer {
  /* border: 2px solid blue; */
  margin-bottom: 15px;
}

.leftSection {
  /* border: 2px solid blue; */
  width: 100%;
}

.rightSection {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 390px;
}

.inputs {
  border: 2px solid rgba(13, 192, 232, 0.491);
}

.textInputs {
  border: 2px solid rgba(13, 192, 232, 0.491);
  padding: 2px;
  margin-bottom: 10px;
  width: 95%;
  max-width: 250px;
}

.foodContainer {
  /* border: 2px solid blue; */
  margin-bottom: 25px;
}

.foodQuestion {
  /* border: 2px solid blue; */
  width: 100%;
}

.foodOptions {
  /* border: 2px solid red; */
  width: 90%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foodOption {
  display: flex;
  align-items: center;
  margin: 1px;
}

.checkboxInputs {
  cursor: pointer;
  margin: 0px 2px;
  appearance: none;
  border: 5px solid white;
  outline: 1px solid rgba(18, 178, 226, 0.685);
}

.checkboxInputs:checked {
  appearance: checkbox;
}

/* .checkboxInputs input[type='radio'] {
 
} */

/* .checkboxInputs input[type='radio'] {
  outline-color: 1px auto red;
} */

.activitiesContainer {
  /* border: 2px solid blue; */
  margin-bottom: 10px;
}

.tableSection {
  overflow: scroll;
}

.tableInstructions {
  /* border: 2px solid blue; */
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  font-size: 1.2rem;
  width: 100%;
}

/* .tableHead {
  margin: 25px 0;
  min-width: 400px;
} */

.tableHeadings {
  background-color: rgba(165, 165, 165, 0.781);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  width: 16%;
  font-weight: 500;
  padding: 5px 10px;
}

.tableDataPointQuestion {
  border: 1px solid rgba(18, 178, 226, 0.685);
  width: 20%;
  min-width: 100px;
  padding: 4px;
}

.tableDataPointInput {
  border: 1px solid rgba(18, 178, 226, 0.685);
  text-align: center;
  color: rgba(18, 178, 226, 0.685);
}
.radioInputs {
  cursor: pointer;
  appearance: none;
  border: 7px solid white;
  outline: 1px solid rgba(18, 178, 226, 0.685);
  border-radius: 50%;
}
.radioInputs:checked {
  appearance: normal;
}

.buttonContainer {
  /* border: 2px solid blue; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 380px) {
  .personalDetailsContainer,
  .foodContainer {
    display: flex;
  }
  .leftSection {
    width: 40%;
    max-width: 185px;
  }
  .foodQuestion {
    width: 50%;
    max-width: 185px;
  }
  .foodOptions {
    max-width: 390px;
  }
  .tableSection {
    overflow: hidden;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .formContainer {
    width: 95%;
    max-width: 850px;
  }
}
