.formContainer {
  border: 2px solid;
  margin-top: 30px;
}

.personalDetailsContainer {
  border: 2px solid blue;
  margin-bottom: 10px;
}

.leftSection {
  border: 2px solid blue;
  width: 100%;
}

.rightSection {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.inputs {
  border: 2px solid rgba(13, 192, 232, 0.491);
}

.textInputs {
  border: 2px solid rgba(13, 192, 232, 0.491);
  padding: 2px;
  margin-bottom: 10px;
  width: 95%;
  max-width: 250px;
}

.foodContainer {
  border: 2px solid blue;
  margin-bottom: 10px;
}

.foodQuestion {
  border: 2px solid blue;
  width: 100%;
}

.foodOptions {
  border: 2px solid red;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foodOption {
  display: flex;
  align-items: center;
  margin: 1px;
}

.activitiesContainer {
  border: 2px solid blue;
  margin-bottom: 10px;
  overflow: scroll;
}

.tableInstructions {
  border: 2px solid blue;
  margin-bottom: 10px;
}

.table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

.tableHead {
  margin: 25px 0;
  min-width: 400px;
}

.tableHeadings {
  background-color: rgba(199, 200, 201, 0.566);
  border: 1px solid rgba(0, 0, 0, 0.685);
  text-align: center;
  min-width: 100px;
  font-weight: 500;
  padding: 0px 10px;
}

.tableDataPointQuestion {
  border: 1px solid rgba(18, 178, 226, 0.685);
  min-width: 180px;
}

.tableDataPointInput {
  border: 1px solid rgba(18, 178, 226, 0.685);
  text-align: center;
  color: rgba(18, 178, 226, 0.685);
}
.tableDataPointInput,
.tableDataPointQuestion{
  padding: 2px;
}

.radioInputs {
  cursor: pointer;
  outline-color: rgba(18, 178, 226, 0.685);
}

@media only screen and (min-width: 380px) {
  .personalDetailsContainer,
  .foodContainer {
    display: flex;
  }
  .leftSection {
    width: 40%;
    max-width: 185px;
  }
  .foodQuestion {
    width: 50%;
    max-width: 185px;
  }
  .foodOptions {
    max-width: 300px;
  }
  .activitiesContainer {
    overflow: hidden;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .formContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
