.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 10px;
  margin: auto;
}

.leftSection {
  font-weight: 700;
  /* border: 2px solid; */
  padding: 5px;
}

.rightSection {
  /* border: 2px solid; */
  width: 55%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.links {
  color: black;
  text-decoration: none;
  letter-spacing: 0.75px;
}

.blueText {
  color: var(--primary-blue);
}

.blackText {
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .nav {
    width: 70%;
  }
}
