.button {
  min-width: 125px;
  border: none;
  background-color: rgb(8, 121, 249);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  padding: 10px 10px;
  border-radius: 2px;
  cursor: pointer;
}